<h1 class='text-3xl font-bold underline'>{{ gallerycategorys.categoryName }}</h1>

{% if isAdmin %}

    <form action='/index.php?page=pictures' method='post' enctype='multipart/form-data'>
        <input type='file' name='fileToUpload' id='fileToUpload'>
        <br>
        <button name='picUpload' value={{ gallerycategorys.id }} class='classButton'>Hochladen</button>
    </form>

{% endif %}

{% for picture in pictures %}

    <a target='_blank' href='/img/gallery/{{ picture.categoryName }}/{{ picture.picName }}'>
    <img src='/img/gallery/{{ picture.categoryName }}/{{ picture.picName }}'></img></a>

{% endfor %}
