<form action='/index.php?page=memberlist' method='post'>
<center>
<table class='hidden sm:contents'>
    <tr>
        <td><b>Little Akiba</b></td>
        <td><b>Name</b></td>
        <td><b>Funktion</b></td>
        <td><b>Dabei seit:</b></td>

        {% if isLeader or isHelper %}
            <td><b>E-Mail</b></td>
            <td><b>Mobile</b></td>
        {% endif %}

        {% if isAdmin %}
            <td><b>Aktiv?</b></td>
            <td></td>
            <td></td>
        {% endif %}

    </tr>

{% for member in members %}
    
        {% if modifyMemberPick == member.id %}
            {% if isAdmin %}
                <tr>

                <td>Little Akiba url: <input name='little_akiba' value='{{ member.little_akiba }}' size='20'>
                <br>Avatar url: <input name='memberimg' value='{{ member.memberimg }}' size='20'></td>

                <td><input name='membername' value='{{ member.membername }}' size='15'></td>
                <td><select name='memberfunction'>

                {% if member.memberfunction == 'Leiter' %}
                    <option value='Admin' selected='selected'>Admin</option>
                    <option value='Leiter'>Leiter</option>
                    <option value='Helfer'>Helfer</option>
                {% else %}
                    <option value='Leiter'>Leiter</option>
                    <option value='Helfer' selected='selected'>Helfer</option>
                {% endif %}

                </select></td>
                <td><input type='date' name='involved_since' value='{{ member.involved_since }}' size='10'></td>

            
                <td><input name='e_mail' value='{{ member.e_mail }}' size='20'></td>
                <td><input name='mobile' value='{{ member.mobile }}' size='15'></td>

                <td><b>Aktiv</b><br>
                <input type='radio' name='active' value=1 checked='checked'> Ja<br>
                <input type='radio' name='active' value=0> Nein</td>

                <td><button name='modifyMember' value='{{ member.id }}' class='classButton'>aktualisieren</button></td>
                <td></td>
            
                </tr>
            {% endif %}
     
        {% else %}
    
        {% if member.active == 1 %}
            <tr>
        {% else %}
            <tr class="italic opacity-40">
        {% endif %}
            <td>
                <a href='{{ member.little_akiba }}' target='_blank'>
                    <img src='{{ member.memberimg }}' class='w-24 h24 rounded-full block'>
                </a>
            </td>
            <td>{{ member.membername }}</td>
            <td>{{ member.memberfunction }}</td>
            <td>{{ member.involved_since }}</td>

            {% if isLeader or isHelper %}
                <td><a href='mailto:{{ member.e_mail }}"?subject=Hier steht der Betreff'>{{ member.e_mail }}</a></td>
                <td>{{ member.mobile }}</td>
            {% endif %}

            {% if isAdmin %}
                {% if member.active == 1 %}
                    <td>Ja</td>
                {% else %}
                    <td>Nein</td>
                {% endif %}

                <td><button name='modifyMemberPick' value='{{ member.id }}' class='classButton'>ändern</button></td>
                <td><button name='deleteMember' value='{{ member.id }}' class='classButton'>löschen</button></td>
            {% endif %}
        </tr>
        {% endif %}
{% endfor %}
</table>
</center>
</form>

<form action='/index.php?page=memberlist' method='post'>
<center>
    {% for member in members %}
    {% if member.active == 1 %}
        <table class='sm:hidden'>
    {% else %}
        <table class='sm:hidden italic opacity-40'>
    {% endif %}

        {% if modifyMemberPick == member.id %}
            {% if isAdmin %}

                <tr><td><b>Little Akiba url:</b></td><td><input name='little_akiba' value='{{ member.little_akiba }}' size='15'></td></tr>
                <tr><td><b>Avatar url:</b></td><td><input name='memberimg' value='{{ member.memberimg }}' size='15'></td></tr>
                <tr><td><b>Name</b></td><td><input name='membername' value='{{ member.membername }}'></td></tr>
                <tr><td><b>Funktion</b></td><td>

                    <select name='memberfunction'>
                        {% if member.memberfunction == 'Leiter' %}
                            <option value='Leiter' selected='selected'>Leiter</option>
                            <option value='Helfer'>Helfer</option>
                        {% else %}
                            <option value='Leiter'>Leiter</option>
                            <option value='Helfer' selected='selected'>Helfer</option>
                        {% endif %}
                    </select>
                
                </td></tr>
                <tr><td><b>Dabei seit:</b></td><td><input type='date' name='involved_since' value='{{ member.involved_since }}' size='10'></td></tr>

                <tr><td><b>E-Mail</b></td><td><input name='e_mail' value='{{ member.e_mail }}' size='15'></td></tr>
                <tr><td><b>Mobile</b></td><td><input name='mobile' value='{{ member.mobile }}' size='15'></td></tr>
                <tr><td><b>Aktiv?</b></td><td>
                
                <input type='radio' name='active' value=1 checked='checked'> Ja<br>
                <input type='radio' name='active' value=0> Nein

                </td></tr>

                <tr><td></td><td><button name='modifyMember' value='{{ member.id }}' class='classButton'>aktualisieren</button></td></tr>

            {% endif %}

        {% else %}

       
        <tr><td></td><td><center><a href='{{ member.little_akiba }}' target='_blank'><img src='{{ member.memberimg }}' class='w-24 h24 rounded-full block'></a></center></td></tr>
        <tr><td><b>Name:</b></td><td>{{ member.membername }}</td></tr>
        <tr><td><b>Funktion</b></td><td>{{ member.memberfunction }}</td></tr>
        <tr><td><b>Dabei seit:</b></td><td>{{ member.involved_since }}</td></tr>

        {% if isLeader or isHelper %}
        <tr><td><b>E-Mail</b></td><td><a href='mailto:{{ member.e_mail }}"?subject=Hier steht der Betreff'>{{ member.e_mail }}</a></td></tr>
        <tr><td><b>Mobile</b></td><td>{{ member.mobile }}</td></tr>
        {% endif %}

        {% if isAdmin %}
        <tr><td><b>Aktiv?</b></td>
            {% if member.active == 1 %}
                <td>Ja</td>
            {% else %}
                <td>Nein</td>
            {% endif %}
        </tr>
        
        <tr><td></td><td><button name='modifyMemberPick' value='{{ member.id }}' class='classButton'>ändern</button>
            <button name='deleteMember' value='{{ member.id }}' class='classButton'>löschen</button></td></tr>
        {% endif %}
    {% endif %}
</table>
<br>
{% endfor %}
</center>
</form>