<form action='/index.php?page=memberlist' method='post'>

<div class='flex flex-wrap justify-center'>
{% for member in members %}

    {% if modifyMemberPick == member.id %}
    {% if isAdmin %}

        <div class='scale-90 sm:scale-100 w-96 border border-solid border-black rounded-2xl flex justify-center bg-zinc-50'>
            <div></div>

            <div class='text-left m-2'>
                
                <p><input name='membername' value='{{ member.membername }}' class='text-2xl font-bold border border-solid border-black'></p>
                <br>

                <p>Little Akiba URL:<br>
                <input name='little_akiba' value='{{ member.little_akiba }}' size='30' class='border border-solid border-black'></p>

                <p>Avatar URL:<br>
                <input name='memberimg' value='{{ member.memberimg }}' size='30' class='border border-solid border-black'></p>
                <br>

                <select name='memberfunction' class='border border-solid border-black'>

                {% if member.memberfunction == 'Admin' %}
                    <option value='Admin' selected='selected'>Admin</option>
                    <option value='Vorstand'>Vorstand</option>
                    <option value='Schichtplanung'>Schichtplanung</option>
                    <option value='Leiter'>Leiter</option>
                    <option value='Helfer'>Helfer</option>

                {% elseif member.memberfunction == 'Vorstand' %}
                    <option value='Admin'>Admin</option>
                    <option value='Vorstand' selected='selected'>Vorstand</option>
                    <option value='Schichtplanung'>Schichtplanung</option>
                    <option value='Leiter'>Leiter</option>
                    <option value='Helfer'>Helfer</option>

                {% elseif member.memberfunction == 'Schichtplanung' %}
                    <option value='Admin'>Admin</option>
                    <option value='Vorstand'>Vorstand</option>
                    <option value='Schichtplanung' selected='selected'>Schichtplanung</option>
                    <option value='Leiter'>Leiter</option>
                    <option value='Helfer'>Helfer</option>

                {% elseif member.memberfunction == 'Leiter' %}
                    <option value='Admin'>Admin</option>
                    <option value='Vorstand'>Vorstand</option>
                    <option value='Schichtplanung'>Schichtplanung</option>
                    <option value='Leiter' selected='selected'>Leiter</option>
                    <option value='Helfer'>Helfer</option>

                {% else %}
                    <option value='Admin'>Admin</option>
                    <option value='Vorstand'>Vorstand</option>
                    <option value='Schichtplanung'>Schichtplanung</option>
                    <option value='Leiter'>Leiter</option>
                    <option value='Helfer'selected='selected'>Helfer</option>
                {% endif %}

                </select>
                <br>

                <p>Aktiv seit: <input type='date' name='involved_since' value='{{ member.involved_since }}' class='border border-solid border-black'></p>
                <br>
                
                <img src='img/icons/email.png' class='w-5 h-5 inline'>: <input name='e_mail' value='{{ member.e_mail }}' size='20' class='border border-solid border-black'><br>
                <img src='img/icons/phone.png' class='w-5 h-5 inline'>: <input name='mobile' value='{{ member.mobile }}' size='15' class='border border-solid border-black'><br>
                <br>
                
                Aktiv: 
                {% if member.active == 1 %}
                    <input type='radio' name='active' value=1 checked='checked'> Ja 
                    <input type='radio' name='active' value=0> Nein
                {% else %}
                    <input type='radio' name='active' value=1> Ja 
                    <input type='radio' name='active' value=0 checked='checked'> Nein
                {% endif %}
                <br>

                <div class='flex justify-end'>
                    <div></div>
                    <div>
                        <button name='modifyMember' value='{{ member.id }}' class='hover:opacity-40'><img src='img/icons/done.png' class='w-10 h-10 inline' title='Ok'></button>
                        <button ><img src='img/icons/close.png' class='w-10 h-10 inline hover:opacity-40' title='Abbrechen'></button>
                    </div>
                </div>
                
            </div>

        </div>
        {% endif %}

    {% else %}
    
    {% if member.active == 1 %}
        <div id='{{ member.id }}' class='m-2 '>
    {% else %}
        <div id='{{ member.id }}' class='m-2 italic opacity-40'>
    {% endif %}

            <div class='scale-90 sm:scale-100 w-96 border border-solid border-black rounded-2xl flex items-center bg-zinc-50'>
                <div>
                    <a href='{{ member.little_akiba }}' target='_blank'><img src='{{ member.memberimg }}' class='w-24 h-24 rounded-full block m-2'></a>
                    {% if member.memberfunction == "Admin" %}
                    <span class="text-sm inline-block py-1.5 px-2.5 leading-none text-center whitespace-nowrap align-top font-bold text-white rounded bg-purple-600">
                                                    {{ member.memberfunction }}
                    </span>
                    {% elseif member.memberfunction == "Vorstand" %}
                        <span class="text-sm inline-block py-1.5 px-2.5 leading-none text-center whitespace-nowrap align-top font-bold text-black rounded bg-amber-400">
                                                        {{ member.memberfunction }}
                    </span>
                    {% elseif member.memberfunction == "Schichtplanung" %}
                        <span class="text-sm inline-block py-1.5 px-2.5 leading-none text-center whitespace-nowrap align-top font-bold text-white rounded bg-purple-400">
                                                        {{ member.memberfunction }}
                    </span>
                    {% elseif member.memberfunction == "Leiter" %}
                        <span class="text-sm inline-block py-1.5 px-2.5 leading-none text-center whitespace-nowrap align-top font-bold text-white rounded bg-green-500">
                                                        {{ member.memberfunction }}
                    </span>
                    {% elseif member.memberfunction == "Helfer" %}
                        <span class="text-sm inline-block py-1.5 px-2.5 leading-none text-center whitespace-nowrap align-top font-bold text-white rounded bg-blue-400">
                            {{ member.memberfunction }}
                    </span>                    {% endif %}

                </div>

                <div class='text-left m-2'>
                    <p class='text-2xl font-bold'>{{ member.membername }}</p>
                    <p>Aktiv seit: {{ member.involved_since }}</p>
                    
                    {% if isLeader or isHelper %}
                        <img src='img/icons/email.png' class='w-5 h-5 inline' title='{{ member.e_mail }}'><a href='mailto:{{ member.e_mail }}"?subject=Hier steht der Betreff'>: {{ member.e_mail }}</a><br>
                        <img src='img/icons/phone.png' class='w-5 h-5 inline' title='{{ member.mobile }}'>: {{ member.mobile }}<br>
                    {% endif %}

                    {% if isAdmin %}
                    
                    Aktiv:
                        <span ondblclick="updateMemberStatus(this, {{ member.id }})">
                            {% if member.active == 1 %}
                                Ja
                            {% else %}
                                Nein
                            {% endif %}
                        </span><br>
                        {% set warning = '\"Bist du sicher?\"' %}
                        <button name='modifyMemberPick' value='{{ member.id }}' class='hover:opacity-40'><img src='img/icons/edit.png' class='w-10 h-10 inline' title='Ändern'></button>
                        <button name='deleteMember' value='{{ member.id }}' onclick='return confirm({{ warning }})' class='hover:opacity-40'><img src='img/icons/delete.png' class='w-10 h-10 inline' title='Löschen'></button>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
</div>
</form>
