<form action='/index.php?page=adminEvents' method='post'>
<h2 class='text-2xl font-bold underline'>Termine / Schichtplan:</h2>
<br>

{% if isShowAllEvent %}
    <p><button class="classButton">Nur aktuelle Termine anzeigen</button></p>
{% else %}
    <p><button name='showAllEvent' class="classButton">Alle Termine anzeigen</button></p>
{% endif %}

<br>

    <div class='flex flex-wrap justify-center'>
{% for event in events %}
        <!-- when click on button "ändern" //-->
        {% if modifyEventPick == event.id %}
            <div class='m-5 border border-solid border-black w-96 rounded-xl bg-violet-100'>
                <p class='text-2xl text-center font-bold m-3'>{{ event.eventdate | date_format("d. F Y") }}</p><br>
                    <span>Sichtbarkeit: <select name='active'>
                        {% if event.active == 0 %}
                            <option value=0 selected='selected'>Privat</option>
                            <option value=1>Publik</option>
                        {% else %}
                            <option value=0>Privat</option>
                            <option value=1 selected='selected'>Publik</option>
                        {% endif %}    
                    </select></span>
                <br>
                    <span>Ameldungen: <select name='activeToRegister'>
                        {% if event.activeToRegister == 0 %}
                            <option value=0 selected='selected'>deaktiviert</option>
                            <option value=1>aktiviert</option>
                        {% else %}
                            <option value=0>deaktiviert</option>
                            <option value=1 selected='selected'>aktiviert</option>
                        {% endif %}
                    </select></span>
                <br><br>
                
                <p class='text-xl text-center font-bold'><u>Leiter</u></p>
                <div class='flex justify-center'>

                    <select name='leader1'>
                        <option value='0'>Keine</option>
                        {% for availableMember in event.availableMembers|split(':') %}
                            {% for member in members %}
                                {% if availableMember == member.id %}
                                    {% if event.leader1 == member.id %}
                                        <option value='{{ member.id }}' selected='selected'>{{ member.membername }}</option>
                                    {% else %}
                                        <option value='{{ member.id }}'>{{ member.membername }}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        <option value='0'>----------</option>
                        {% for member in members %}
                            {% if member.id not in event.availableMembers %}
                                {% if event.leader1 == member.id %}
                                    <option value='{{ member.id }}' selected='selected'>{{ member.membername }}</option>
                                {% else %}
                                    <option value='{{ member.id }}'>{{ member.membername }}</option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>

                    <span>&nbsp</span>

                    <select name='leader2'>
                        <option value='0'>Keine</option>
                        {% for availableMember in event.availableMembers|split(':') %}
                            {% for member in members %}
                                {% if availableMember == member.id %}
                                    {% if event.leader2 == member.id %}
                                        <option value='{{ member.id }}' selected='selected'>{{ member.membername }}</option>
                                    {% else %}
                                        <option value='{{ member.id }}'>{{ member.membername }}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        <option value='0'>----------</option>
                        {% for member in members %}
                            {% if member.id not in event.availableMembers %}
                                {% if event.leader2 == member.id %}
                                    <option value='{{ member.id }}' selected='selected'>{{ member.membername }}</option>
                                {% else %}
                                    <option value='{{ member.id }}'>{{ member.membername }}</option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <br>

                <p class='text-xl text-center font-bold'><u>Schicht 17:30-20:30</u></p>
                <div class='flex justify-center'>
                    <select name='helper1'>
                        <option value='0'>Keine</option>
                        {% for availableMember in event.availableMembers|split(':') %}
                            {% for member in members %}
                                {% if availableMember == member.id %}
                                    {% if event.helper1 == member.id %}
                                        <option value='{{ member.id }}' selected='selected'>{{ member.membername }}</option>
                                    {% else %}
                                        <option value='{{ member.id }}'>{{ member.membername }}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        <option value='0'>----------</option>
                        {% for member in members %}
                            {% if member.id not in event.availableMembers %}
                                {% if event.helper1 == member.id %}
                                    <option value='{{ member.id }}' selected='selected'>{{ member.membername }}</option>
                                {% else %}
                                    <option value='{{ member.id }}'>{{ member.membername }}</option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>

                    <span>&nbsp</span>

                    <select name='helper3'>
                        <option value='0'>Keine</option>
                        {% for availableMember in event.availableMembers|split(':') %}
                            {% for member in members %}
                                {% if availableMember == member.id %}
                                    {% if event.helper3 == member.id %}
                                        <option value='{{ member.id }}' selected='selected'>{{ member.membername }}</option>
                                    {% else %}
                                        <option value='{{ member.id }}'>{{ member.membername }}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        <option value='0'>----------</option>
                        {% for member in members %}
                            {% if member.id not in event.availableMembers %}
                                {% if event.helper3 == member.id %}
                                    <option value='{{ member.id }}' selected='selected'>{{ member.membername }}</option>
                                {% else %}
                                    <option value='{{ member.id }}'>{{ member.membername }}</option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <br>

                <p class='text-xl text-center font-bold'><u>Schicht 20:30-23:00</u></p>
                <div class='flex justify-center'>
                    <select name='helper2'>
                        <option value='0'>Keine</option>
                        {% for availableMember in event.availableMembers|split(':') %}
                            {% for member in members %}
                                {% if availableMember == member.id %}
                                    {% if event.helper2 == member.id %}
                                        <option value='{{ member.id }}' selected='selected'>{{ member.membername }}</option>
                                    {% else %}
                                        <option value='{{ member.id }}'>{{ member.membername }}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        <option value='0'>----------</option>
                        {% for member in members %}
                            {% if member.id not in event.availableMembers %}
                                {% if event.helper2 == member.id %}
                                    <option value='{{ member.id }}' selected='selected'>{{ member.membername }}</option>
                                {% else %}
                                    <option value='{{ member.id }}'>{{ member.membername }}</option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>

                    <span>&nbsp</span>

                    <select name='helper4' autofocus>
                        <option value='0'>Keine</option>
                        {% for availableMember in event.availableMembers|split(':') %}
                            {% for member in members %}
                                {% if availableMember == member.id %}
                                    {% if event.helper4 == member.id %}
                                        <option value='{{ member.id }}' selected='selected'>{{ member.membername }}</option>
                                    {% else %}
                                        <option value='{{ member.id }}'>{{ member.membername }}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        <option value='0'>----------</option>
                        {% for member in members %}
                            {% if member.id not in event.availableMembers %}
                                {% if event.helper4 == member.id %}
                                    <option value='{{ member.id }}' selected='selected'>{{ member.membername }}</option>
                                {% else %}
                                    <option value='{{ member.id }}'>{{ member.membername }}</option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <br>

                <p class='text-xl text-center font-bold'><u>Verfügbare Mitarbeiter</u></p>
                <div class='flex flex-wrap justify-center'>     
                    {% for availableMember in event.availableMembers|split(':') %}
                        {% if availableMember == NULL %}
                            Keine
                        {% else %}
                            <div class='block m-5'>
                                {% for member in members %}
                                    {% if availableMember == member.id %}
                                        <center><img src='{{member.memberimg}}' class='rounded-full w-12'></img>{{member.membername}}</center>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <p class='hidden sm:contents'>
                <button name='modifyEvent' value='{{ event.id }}' class='hover:opacity-40'><img src='img/icons/done.png' class='w-10 h-10 inline' title='Ok'></button>
                <button><img src='img/icons/close.png' class='w-10 h-10 inline hover:opacity-40' title='Abbrechen'></button></p>
    
                <div class='sm:hidden text-xl'><br><b>Zum Modifizieren, bitte Tablet auf Querformat stellen</b></div>
                <br><br>

            {% else %}

                {% if event.active == 0 %}
                    {% if isAdmin %}
                        <div class='m-5 border border-solid border-black w-96 rounded-xl bg-violet-100 opacity-40'>
                    {% else %}
                        <div class='hidden'>
                    {% endif %}
                {% else %}
                    <div class='m-5 border border-solid border-black w-96 rounded-xl bg-violet-100'>
                {% endif %}

                <p class='text-2xl text-center font-bold m-3'>{{ event.eventdate | date_format("d. F Y") }}<br>
                {% if event.active == 0 %}
                    <center><img src='img/icons/privat.png' class='w-7'></center>
                {% else %}
                    {% if isAdmin %}
                        <center><img src='img/icons/public.png' class='w-7'></center>
                    {% endif %}
                {% endif %}
                </p>

                {% if isAdmin %}
                    <p class='text-xl'>
                    {% if event.activeToRegister == 0 %}
                        <span class='text-red-600 italic font-bold'>Anmeldung: deaktiviert</span>
                    {% else %}
                        <span class='text-green-600 font-bold'>Anmeldung: aktiviert</span>
                    {% endif %}
                    </p>
                    <br>
                {% endif %}

                <p class='text-xl text-center font-bold'><u>Leiter</u></p>
                <div class='flex justify-center'>
                    {% if event.leader1 != 0 %}
                        <div class='block m-5'>
                            {% for member in members %}
                                {% if event.leader1 == member.id %}
                                    <center><img src='{{member.memberimg}}' style='border-radius: 100%; width: 50px' title='{{member.membername}}'></img>{{member.membername}}</center>
                                {% endif %}
                            {% endfor%}
                        </div>
                    {% endif %}

                    {% if event.leader2 != 0 %}
                        <div class='block m-5'>
                            {% for member in members %}
                                {% if event.leader2 == member.id %}
                                    <center><img src='{{member.memberimg}}' style='border-radius: 100%; width: 50px' title='{{member.membername}}'></img>{{member.membername}}</center>
                                {% endif %}
                            {% endfor%}
                        </div>
                    {% endif %}
                </div>

                <br>

                <p class='text-xl text-center font-bold'><u>Schicht 17:30-20:30</u></p>
                <div class='flex justify-center'>
                    {% if event.helper1 != 0 %}
                        <div class='block m-5'>
                            {% for member in members %}
                                {% if event.helper1 == member.id %}
                                    <center><img src='{{member.memberimg}}' style='border-radius: 100%; width: 50px' title='{{member.membername}}'></img>{{member.membername}}</center>
                                {% endif %}
                            {% endfor%} 
                        </div>
                    {% endif %}

                    {% if event.helper3 != 0 %}
                        <div class='block m-5'>
                            {% for member in members %}
                                {% if event.helper3 == member.id %}
                                    <center><img src='{{member.memberimg}}' style='border-radius: 100%; width: 50px' title='{{member.membername}}'></img>{{member.membername}}</center>
                                {% endif %}
                            {% endfor%}
                        </div>
                    {% endif %}
                </div>

                <br>

                <p class='text-xl text-center font-bold'><u>Schicht 20:30-23:00</u></p>
                <div class='flex justify-center'>
                    {% if event.helper2 != 0 %}
                        <div class='block m-5'>
                            {% for member in members %}
                                {% if event.helper2 == member.id %}
                                    <center><img src='{{member.memberimg}}' style='border-radius: 100%; width: 50px' title='{{member.membername}}'></img>{{member.membername}}</center>
                                {% endif %}
                            {% endfor%} 
                        </div>
                    {% endif %}

                    {% if event.helper4 != 0 %}
                        <div class='block m-5'>
                            {% for member in members %}
                                {% if event.helper4 == member.id %}
                                    <center><img src='{{member.memberimg}}' style='border-radius: 100%; width: 50px' title='{{member.membername}}'></img>{{member.membername}}</center>
                                {% endif %}
                            {% endfor%}
                        </div>
                    {% endif %}
                </div>
                <br>

                {% if isAdmin %}

                <p class='text-xl text-center font-bold'><u>Verfügbare Mitarbeiter</u></p>
                <div class='flex flex-wrap justify-center'>

                    {% for availableMember in event.availableMembers|split(':') %}
                        {% if availableMember == NULL %}
                            Keine
                        {% else %}
                            <div class='block m-5'>
                                {% for member in members %}
                                    {% if availableMember == member.id %}
                                        <center><img src='{{member.memberimg}}' class='rounded-full w-12'></img>{{member.membername}}</center>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                {% set warning = '\"Bist du sicher?\"' %}
                <p><button name='modifyEventPick' value='{{ event.id }}' class='hover:opacity-40'><img src='img/icons/edit.png' class='w-10 h-10 inline' title='Ändern'></button>
                <button name='sendNotification' value='{{ event.id }}' onclick='return confirm({{ warning }})' class='hover:opacity-40'><img src='img/icons/done.png' class='w-10 h-10 inline' title='Benachrichtigung senden'></button>
                <button name='deleteEvent' value='{{ event.id }}' onclick='return confirm({{ warning }})' class='hover:opacity-40'><img src='img/icons/delete.png' class='w-10 h-10 inline' title='Löschen'></button></p>
                <br>
                {% endif %} 
            {% endif %}
        </div>
<br><br>

{% endfor %}
    </div>

{% if isAdmin %}
    <p class='font-bold'>Manuelle Termin erstellen:</p>
    {% set now = 'now'|date('Y-m-d') %}
        <input type='date' name='neweventdate' value='{{ now }}' class='border border-solid border-black'>&nbsp
        <button type='submit' name='createEvent' class='classButton'>Erstellen</button>    
{% endif %}

</form>

<div class='flex flex-wrap justify-center'>
    {% include 'buttons/logout.twig' %}
</div>
