<div class='flex flex-wrap justify-center items-center'>  

<div class='flex flex-wrap justify-center items-center'>  
    {% for gallerycategory in gallerycategories %}
    <div>
        {% if modifyGalleryPick == gallerycategory.id %}
            <div class='text-xl hover:scale-110 m-2.5 rounded-xl border border-solid border-black bg-violet-500'>
                <form action='/index.php?page=gallery' method='post'>
                    <img src='/img/gallery/{{ gallerycategory.categoryName }}/{{ gallerycategory.titlePic }}' class='w-56 h-56 p-2.5 rounded-xl object-cover object-top'>
                    <p><input name='categoryName' value='{{ gallerycategory.categoryName }}' size='12' class='border border-solid border-black'></p>
                    <p><input type='date' name='galleryDate' value='{{ gallerycategory.galleryDate | date('Y-m-d') }}' class='border border-solid border-black'></p>
                    <p><select name='titlePic' class='border border-solid border-black'>
                        {% for picture in pictures %}
                            {% if picture.categoryId == gallerycategory.id %}
                                <option value='{{ picture.picName }}'>{{ picture.picName }}</option>
                            {% endif %}
                        {% endfor %}
                    </select></p>
                    <button name='modifyGallery' value='{{ gallerycategory.id }}' class='hover:opacity-40'><img src='img/icons/done.png' class='w-10 h-10 inline' title='Ok'></button>
                    <button><img src='img/icons/close.png' class='w-10 h-10 inline hover:opacity-40' title='Abbrechen'></button></p>
                </form>
            </div>
        {% else %}
            <form action='/index.php?page=pictures' method='post'>
                <button name='gallerycategoryId' value='{{ gallerycategory.id }}' class='text-xl hover:scale-110 m-2.5 rounded-xl border border-solid border-black bg-violet-500'>
                <img src='/img/gallery/{{ gallerycategory.categoryName }}/{{ gallerycategory.titlePic }}' class='w-56 h-56 p-2.5 rounded-xl object-cover object-top'>
                <p class='font-bold'>{{ gallerycategory.categoryName }}</p><p class='mb-2.5'>
                {{ gallerycategory.galleryDate | date("d.M.Y") }}</p></button>
            </form>
            {% if isAdmin %}
                {% set warning = '\"Bist du sicher?\"' %}  
                <form action='/index.php?page=gallery' method='post'>
                    <p><button name='modifyGalleryPick' value='{{ gallerycategory.id }}' class='hover:opacity-40'><img src='img/icons/edit.png' class='w-10 h-10 inline' title='Ändern'></button>
                    <button name='deleteGallery' value='{{ gallerycategory.id }}' onclick='return confirm({{ warning }})' class='hover:opacity-40'><img src='img/icons/delete.png' class='w-10 h-10 inline' title='Löschen'></button>
                </form>
            {% endif %}
        {% endif %}
    </div>
{% endfor %}  

{% if isAdmin %}  
    {% include 'gallery/addGalleryCategoryIcon.twig' %}    
    {% include 'buttons/logout.twig' %}
{% endif %}

    <div id='newCategoryForm' class='block absolute w-96 border border-solid border-black rounded-xl p-5 bg-violet-300'>
        <form action='/index.php?page=pictures' method='post' enctype='multipart/form-data'>
            <img src='/img/icons/close.png' id='closeNewCategoryForm' class="top-0 left-0 w-50 h-50 float-left cursor-pointer">
            
            <h1 class='text-2xl font-bold text-center'>Neue Kategorie</h1>
            <br>
            
            <div class="form-floating mb-3 xl:w-80">
                <input name='newCategoryTitle' class="
                form-control
                block
                w-full
                px-3
                py-1.5
                text-base
                font-normal
                text-gray-700
                bg-white bg-clip-padding
                border border-solid border-gray-300
                rounded
                transition
                ease-in-out
                m-0
                focus:text-gray-700 focus:bg-white focus:border-violet-500 focus:outline-none"
                placeholder="Neue Kategorie"
                required="required"
                id="inputNewCategoryTitle"
                autofocus>
                <label for="inputNewCategoryTitle" class="text-gray-700">Neue Kategorie</label>
            <div><br>


            {% set now = 'now'|date('Y-m-d') %}
            <div class="flex items-center justify-center">        
                <div class="datepicker relative form-floating mb-3 xl:w-80">
                    <input type="date" name='galleryDate' value='{{ now }}'
                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-violet-500 focus:outline-none"
                    placeholder="Datum" />
                    <label for="floatingInput" class="text-gray-700">Datum</label>
                </div>
            </div><br>
            
            <div class="flex justify-center">
              <div class="mb-3 w-96">
                <label for="formFile" class="form-label inline-block mb-2 text-gray-700">Titelbild</label>
                <input class="form-control
                block
                w-full
                px-3
                py-1.5
                text-base
                font-normal
                text-gray-700
                bg-white bg-clip-padding
                border border-solid border-gray-300
                rounded
                transition
                ease-in-out
                m-0
                focus:text-gray-700 focus:bg-white focus:border-violet-500 focus:outline-none" type="file" name='fileToUpload' id="fileToUpload">
              </div>
            </div>

            <p><button name='newCategory' class='hover:opacity-40'><img src='img/icons/add_box.png' class='w-10 h-10 inline' title='Erstellen'></button></p>
        </form>
    </div>
</div>


