<div class='flex flex-wrap justify-center items-center'>
    {% for gallerycategory in gallerycategories %}
        <div>
            {% if modifyGalleryPick == gallerycategory.id %}
                <div class='text-xl hover:scale-110 m-2.5 rounded-xl border border-solid border-black bg-zinc-50'>
                    <form action='/index.php?page=gallery' method='post'>
                        <img src='/img/gallery/{{ gallerycategory.categoryName }}/{{ gallerycategory.titlePic }}' class='w-56 h-56 p-2.5 rounded-xl object-cover object-top'>
                        <p><input name='categoryName' value='{{ gallerycategory.categoryName }}' size='12' class='border border-solid border-black'></p>
                        <p><input type='date' name='galleryDate' value='{{ gallerycategory.galleryDate | date('Y-m-d') }}' class='border border-solid border-black'></p>
                        <p><select name='titlePic' class='border border-solid border-black'>
                                {% for picture in pictures %}
                                    {% if picture.categoryId == gallerycategory.id %}
                                        <option value='{{ picture.picName }}'>{{ picture.picName }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select></p>
                        <button name='modifyGallery' value='{{ gallerycategory.id }}' class='hover:opacity-40'><img src='img/icons/done.png' class='w-10 h-10 inline' title='Ok'></button>
                        <button><img src='img/icons/close.png' class='w-10 h-10 inline hover:opacity-40' title='Abbrechen'></button>
                    </form>
                </div>
            {% else %}
                <form action='/index.php?page=pictures' method='post'>
                    <button name='gallerycategoryId' value='{{ gallerycategory.id }}' class='text-xl hover:scale-110 m-2.5 rounded-xl border border-solid border-black bg-zinc-50'>
                        <img src='/img/gallery/{{ gallerycategory.categoryName }}/{{ gallerycategory.titlePic }}' class='w-56 h-56 p-2.5 rounded-xl object-cover object-top'>
                        <p class='font-bold'>{{ gallerycategory.categoryName }}</p>
                        <p class='mb-2.5'>

                            {% if gallerycategory.galleryDate | date("Y") != "1970" %}
                                {{ gallerycategory.galleryDate | date("d.M.Y") }}
                            {% endif %}

                        </p></button>
                </form>
                {% if isAdmin %}
                    {% set warning = '\"Bist du sicher?\"' %}
                    <form action='/index.php?page=gallery' method='post'>
                        <p>
                            <button name='modifyGalleryPick' value='{{ gallerycategory.id }}' class='hover:opacity-40'><img src='img/icons/edit.png' class='w-10 h-10 inline' title='Ändern'></button>
                            <button name='deleteGallery' value='{{ gallerycategory.id }}' onclick='return confirm({{ warning }})' class='hover:opacity-40'><img src='img/icons/delete.png' class='w-10 h-10 inline' title='Löschen'></button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}

    {% if isAdmin %}
        {% include 'gallery/addGalleryCategoryIcon.twig' %}
        {% include 'buttons/logout.twig' %}
    {% endif %}
</div>
